from flask import Flask
import os

app = Flask(__name__)

@app.route("/test")
def test():
    hostname = os.getenv("HOSTNAME", "unknown")
    return f"<h1>{hostname}</h1>", 200

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=5000)
    